
@{
    ViewBag.Title = "Index";
}

<head>
    <title>List</title>
    <link href="..\..\Scripts/bootstrap.js" rel="stylesheet">
</head>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Welcome to Dashboard application! :)</p>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
    </div>
      
</div>

