
@model IEnumerable<OnlineShoppingStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        <h4>@product.Price.ToString()</h4>
        @product.Description
    </div>
}
